@charset "utf-8";
/* CSS Document */

h2, h3, h4, p, ul, ol, td, th {
    font-family: Arial, sans-serif;
}
h1{
    color:darkblue;
}
h1 {
    font-size: 40pt;
}
h2 {
    color: darkred;
}
h2 {
    font-size: 26pt;
}
p, td, th, ul, ol {
    font-size: 12pt;
  }
h3 {
    color: darkslategray;
}
h3 {
    font-size: 20pt;
}
  
h4 {
    font-size: 16pt;
}
h4 {
    color: darkolivegreen;
}
p, ul, ol {
    color: brown;
}
td {
   color: brown;
  }
body{ 
    background-color: rgb(228, 228, 213);
    padding: 3%;
}
p {
    margin: 15pt;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}
  
  /* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
  /* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
}
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: grey;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
